{% extends 'core/BarraNavegacion.html' %}

{% block content %}

<div class="row">
	<div class="col-md-4">
		<div class="card">
			<div class="card-body">
				<h5 class="card-title">{{ user.username }}</h5>
				<small class="bi bi-code-square"> ¿Es Administrador?:
					{% if user.is_superuser %}
						<i>Sí</i></small>
					{% else %}
						<i>No</i></small>
					{% endif %}
				<p class="card-text mt-2"><i class="bi bi-person-circle"> Nombre: </i>{{user.first_name}}</p>
				<p class="card-text mt-2"><i class="bi bi-person-vcard-fill"> Apellido: </i>{{user.last_name}}</p>
				<p class="card-text mt-2"><i class="bi bi-envelope-at-fill"> Correo: </i>{{ user.email }}</p>
				<a href={% url 'exit' %} class="btn btn-sm btn-success mx-auto d-block">Cerrar Sesión</a>
			</div>
		</div>
	</div>
	<div class="col-md-8" style="padding:20px;">
		<h4><b>¡Acceso No Autorizado!</b></h4>
		<p>Lamentablemente, no tienes los permisos necesarios para acceder a esta página. El acceso a esta sección está restringido a usuarios sin  roles administrativos.</p>
		<p><b>¿Qué Puedes Hacer?</b></p>
		<p><b>Solicitar acceso a un administrador:</b> Si consideras que necesitas acceder a esta página por motivos laborales o relacionados con tus funciones, puedes comunicarte con un administrador del sistema para solicitar acceso. Ellos evaluarán tu solicitud y te otorgarán los permisos correspondientes si lo consideran necesario.</p>
		<p><b>Utilizar una cuenta con los permisos adecuados:</b> Si ya tienes una cuenta de usuario con permisos administrativos, inicia sesión con esa cuenta para acceder a la página.</p>
		<p><b>Información importante:</b></p>
		<p><b>-</b> El acceso a esta página está restringido por razones de seguridad y para proteger la información confidencial que contiene.</p>
		<p><b>-</b> Solo los usuarios con roles administrativos tienen la capacidad de realizar acciones o modificar información dentro de esta sección.</p>
		<p><b>-</b> Si tienes dudas sobre los permisos de acceso o necesitas ayuda para solicitar acceso, no dudes en contactarnos.</p>
		<p><b>OnusPura Te Desea Un Feliz Dia.</b></p>
	</div>
</div>
{% endblock %}z