{% extends 'core/BarraNavegacion.html' %}

{% block content %}
<div class="row">
	<div class="col-md-4">
		<div class="card">
			<div class="card-body">
				<h5 class="card-title">DEVELOPERS</h5>
				<p><i class="bi bi-person-badge-fill"> Autor: </i>Joan Alejandro Escobar Aguirre</p>
				<p><i class="bi bi-qr-code-scan"> Codigo: </i>202264331 - 2724</p>
				<br>
				<p><i class="bi bi-person-badge-fill"> Autor: </i>Kevin Andres Escobar Potes</p>
				<p><i class="bi bi-qr-code-scan"> Codigo: </i> Pendiente.</p>
				<br>
				<p style="text-align: center; font-style: italic;">Universidad Del Valle</p>
			</div>
		</div>
	</div>
	<div class="col-md-8">
		<h4>¿Que es OnusPura y por que se decidio?</h4>
		<p>Nace OnusPura, una aplicación innovadora que surge de la visión de un equipo universitario con el objetivo de transformar la forma en que las empresas operan y contribuyen al cuidado del medio ambiente.</p>
		<p>Inspirados en la necesidad de optimizar la gestión de recursos en empresas de transporte, energía y logística, OnusPura (que en latín significa <b>"Carga Pura"</b>) se presenta como una solución integral que va más allá del monitoreo y la medición. Su enfoque holístico busca revolucionar la industria al integrar tecnologías de vanguardia Para:</p>
		<p><b>- Optimizar la eficiencia de las empresas</b></p>
		<p><b>- Impulsar la sostenibilidad ambiental</b></p>
		<p><b>- Revolucionar la industria automotriz</b></p>
		<p>OnusPura no es solo una aplicación, es un paso hacia un futuro más sostenible y eficiente. Es una herramienta poderosa para las empresas que buscan optimizar sus operaciones, reducir su impacto ambiental y prepararse para la era de la movilidad eléctrica. Con su visión innovadora y su tecnología de vanguardia, OnusPura tiene el potencial de transformar la industria y crear un futuro más verde para todos. <b>Con OnusPura Visión De futuro, Paso A Paso Creamos.</b></p>
	</div>
</div>
{% endblock %}

