{% extends 'core/BarraNavegacion.html' %}
{% block content %}

<style>
  /* Aplicamos estilos a la tabla y las celdas (th y td) */
  .table, .table th, .table td {
    color: white; /* Color del texto en blanco */
  }
</style>
<div class="row">
	<div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
		<div class="card">
			<div class="card-body">
				<h3>Registrar Vehículo</h3>
				<form action="/registrarCarros/" method="POST"> {% csrf_token %}
					<div class="form-group">
						<input type="text" id="txtMatricula" name="txtMatricula" class="form-control" placeholder="Matricula" minlength="7" maxlength="7" required>
					</div>
					<br>

					<div class="form-group">
						<input type="text" id="txtModelo" name="txtModelo" class="form-control" placeholder="Modelo Del Vehículo" maxlength="50" required>
					</div>
					<br>
					
					<div class="form-group">
						<input type="text" id="txtAnioFabricacion" name="txtAnioFabricacion" class="form-control" placeholder="Año Fabricación" maxlength="50" required>
                    </div>

					<div class="form-group">
						<button type="submit" class="btn btn-sm btn-primary mx-auto d-block">Guardar</button>
					</div>
				</form>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-12">
				<div class="card">
					<div class="card-body">
						<h3>Registrar Envío</h3>
						<form action="/registrarEnvio/" method="POST"> {% csrf_token %}
							<div class="form-group">
								<input type="text" id="txtPaquetesPequeños" name="txtPaquetesPequeños" class="form-control" placeholder="Cant. Paquetes Pequeños" minlength="1" maxlength="7" required>
							</div>
							<br>
		
							<div class="form-group">
								<input type="text" id="txtPaquetesGrandes" name="txtPaquetesGrandes" class="form-control" placeholder="Cant. Paquetes Grandes" maxlength="50" required>
							</div>
							<br>
							
							<div class="form-group">
								<input type="text" id="txtPaquetesFragiles" name="txtPaquetesFragiles" class="form-control" placeholder="Cant. Paquetes Frágiles" maxlength="50" required>
							</div>
		
							<div class="form-group">
								<select name="txtDestino">
									<option value="Buga-Pereira">Buga-Pereira</option>
									<option value="Buga-Cali">Buga-Cali</option>
									<option value="Buga-Medellín">Buga-Medellín</option>
									<option value="Cali-Bogotá">Cali-Bogotá</option>
									<option value="Bogotá-Medellín">Bogotá-Medellín</option>
									<option value="Medellín-Bogotá">Medellín-Bogotá</option>
									<option value="Cali-Buga">Cali-Buga</option>
								</select>
							</div>

							<div class="form-group">
								<select name="txtVehiculoAsignado">
									{% for c in Vehiculos %}
										<option value="{{c.matricula}}">{{ c.matricula }}</option>
									{% endfor %}
								</select>
								
							</div>
							<div class="form-group">
								<button type="submit" class="btn btn-sm btn-primary mx-auto d-block">Guardar</button>
							</div>
						</form>
					</div>
				</div>
		
				<div class="dropdown">
					<h2>Listados Vehículos</h2>
					<!-- Este es el botón que activa la lista desplegable. Puedes cambiar el texto 'Selecciona una opción' por el que prefieras -->
					<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					  Selecciona una opción
					</button>
				
					<!-- Aquí es donde se definen las opciones de la lista desplegable. Puedes añadir o eliminar opciones según necesites -->
					<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
					  <a class="dropdown-item" href={% url 'listadoGeneral' %}>Listado General</a> <!-- Cambia 'Opción 1' por el texto de tu opción -->
					  <a class="dropdown-item" href={% url 'listadoEliminados' %}>Listado Vehículos Eliminados</a> <!-- Cambia 'Opción 2' por el texto de tu opción -->
					  <a class="dropdown-item" href={% url 'listadoMantenimiento' %}>Listado Vehículos Mantenimiento</a> <!-- Cambia 'Opción 3' por el texto de tu opción -->
					  <a class="dropdown-item" href={% url 'consultaPKVehiculos' %}>Consulta Vehículos por PK</a> <!-- Cambia 'Opción 3' por el texto de tu opción -->
					</div>
				
				  </div>

				  <div class="dropdown">
					<h2>Listados Envíos</h2>
					<!-- Este es el botón que activa la lista desplegable. Puedes cambiar el texto 'Selecciona una opción' por el que prefieras -->
					<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					  Selecciona una opción
					</button>
				
					<!-- Aquí es donde se definen las opciones de la lista desplegable. Puedes añadir o eliminar opciones según necesites -->
					<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
					  <a class="dropdown-item" href={%url 'listadoEnvios' %}>Listado Envíos</a> <!-- Cambia 'Opción 1' por el texto de tu opción -->
					  <a class="dropdown-item" href={%url 'listadoEnviosEliminados' %}>Listado Envíos Eliminados</a> <!-- Cambia 'Opción 1' por el texto de tu opción -->
					  <a class="dropdown-item" href={%url 'consultaPKEnvios' %}>Consulta Envíos por PK</a> <!-- Cambia 'Opción 1' por el texto de tu opción -->
					
					</div>
				
				  </div>



	
	


{% endblock %}