<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
	<title>OnusPura</title>
</head>
<body>

	<h2>OnusPura</h2>
	<ul>
		<li><a href={% url 'home' %}>Inicio</a></li>
		<li><a href={% url 'areaempresa' %}>Area Empresa</a></li>

		{% if request.user.is_authenticated %}
			<li><a href={% url 'exit' %}>Salir</a></li>
		{% else %}
			<li><a href={% url 'login' %}>Ingresar</a></li>
		{% endif %}
	</ul>
	{% block content %} {% endblock %}
</body>
</html>