#card_register{
    width: 40%;
}

.form-control {
    background-color: #343a40;
    color:white;
}

#botonRegister{
    height: 50px;
  cursor: pointer;
  background: black;
  cursor: pointer;
  border: none;
  padding: 16px 32px;
  color: azure;
  font-size: 15px;
  font-weight: bold;
  border-radius: 40px;
  margin-top: 50px;
}